.heading{
    width: 100%;
    text-align: left;
}

h4{
    background-color: azure;
    line-height: 2;
    margin: 0px;
    font-size: 23px;
}

.instruction_image{
    display: inline-block;
    width: 45%;
}

#game_console{
    background-image: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}

